*~
qp-3.8-i386
qp-3.8-i386.tar.gz 
../.vagrant/
../Vagrantfile 
.DS_Store 
../.DS_Store 
env/
random_circuits_examples/
input/
qpro_scripts/
state/
probabilities/
simulation_stats/
sftp-config.json
*.txt
