*~
qp-3.8-i386
qp-3.8-i386.tar.gz 
../.vagrant/
../Vagrantfile 
.DS_Store 
../.DS_Store 
env/
input/
output/
sftp-config.json
../Quantum\ Circuit.xcodeproj/
*.txt
../qp-3.8-i386 2/
../qp-3.8-i386.tar.gz
../test_25_2.txt
../test_25_5.txt
temp.cpp