.DS_Store
QuantumSim/.DS_Store 
QuantumSim/env/
Vagrantfile
.vagrant
QuantumSim1/
QuantumSimProj.xcodeproj/
qp-3.8-i386/
aneeqa.pem
openmp.cpp
qubit_partition/
*.png
*.pem
*.pdf
test/
msft_quantum/
ProjectQ/
qiskit-terra/
.vagrant/
Vagrantfile 
qsim-0.10.2/