*~
qp-3.8-i386
qp-3.8-i386.tar.gz 
../.vagrant/
../Vagrantfile 
.DS_Store 
../.DS_Store 
env/
sftp-config.json
../QuantumSimProj.xcodeproj/
../qp-3.8-i386.tar_.gz
../qp-3.8-i386/
../test_25_2.txt
../test_25_5.txt
../QuantumSim1
temp.cpp
output/misc/
output/amp_vectors/
output/probabilities/
output/qpro_scripts/
output/reports/
output/log/
profiling_data/
../omp.o
../openmp.cpp
../aneeqa.pem
output/log/
bin/inst*
*.txt
python_scripts/__pycache__/
python_scripts/__pycache__/dist_util.cpython-36.pyc
rollright-1.4/
profiling_data/
benchmark/
output/*
google.zip
google/
table2.pdf
table2.xlsx
~$table2.xlsx
fide_graph.xlsx
rr
QuantumSim/python_scripts/__pycache__/*
ProjectQ/