*~
qp-3.8-i386
qp-3.8-i386.tar.gz 
../.vagrant/
../Vagrantfile 
.DS_Store 
../.DS_Store 
env/
sftp-config.json
../QuantumSimProj.xcodeproj/
../qp-3.8-i386.tar_.gz
../qp-3.8-i386/
../test_25_2.txt
../test_25_5.txt
../QuantumSim1
temp.cpp
profiling_data/
../omp.o
../openmp.cpp
../aneeqa.pem
bin/inst*
*.txt
python_scripts/__pycache__/
python_scripts/__pycache__/dist_util.cpython-36.pyc
rollright-1.4/
profiling_data/
benchmark/
output/*
google.zip
google/
*.pdf
*.xlsx
rr
QuantumSim/python_scripts/__pycache__/*
ProjectQ/
~*
Quantum.
ProjectQ/
qiskit-terra/
../ai.pem
zstd/
output/
sz-2.0.2.0/
compression/